/*
    #### Google Fonts #####
       font-family: 'Saira Semi Condensed', sans-serif;(Product portfolio)

*/

.Produkte_main_title {
    font-family: 'Saira Semi Condensed', sans-serif;
}
.produkt_portfolio a img{
    border: 2px solid #00b5ad;
    border-radius : 3px;
}
.produkt_portfolio a img:hover {
    border: 2px solid #00b5ad;
    border-radius: 3px;
    box-shadow: 0 0 25px #00b5ad;
    transition: all 0.5s ease;
}

.Produkte_kategorien label{
    font-weight: bold;
}